body {
    /* background-color: rgb(250,250,250); */
    background-color: #f5f6f8;
}

/* .container {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.header {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center !important;
}

.logo {
    width: 400px;
}


.title {
    display: flex;
    align-items: center;
    justify-content: center;
}
