* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: #000; */
    background-color: #f5f6f8;
}

.container {
    margin-top: 5px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
}

.logo {
    width: 350px;
}

@media (max-width: 770px) {
    .logo {
        width: 200px;
    }
}
